/* SVG styling */
/*path {
	fill: #CED8B6;
}*/

body {
  background-color: #fff;
  font-family: helvetica, sans-serif;
  font-weight: 100;
}


#dashboard {
  position: absolute;
  width: 900px;
  top: 200px;
  left: 70px;

}

#pieChart {
  position: absolute;

  top: 650px;
  left: 70px;

}
#ta {
  position: absolute;
  width:430px;
  height: 400px;
  top: 660px;
  left: 540px;

}


#wrapper {
  position: absolute;
  width:1000px;
  height: 1800px;
  top: 1140px;
  left: 80px;
}


#chart {
  position: absolute;
  top: -10px;
  left: 430px;
  width: 1400px;
  /*margin: 25px auto;*/
}

#title {
  position: absolute;
  top: 0;
  left: 0px;
  font-size: 16px;
  letter-spacing: -2px;
  line-height: 100%;
}
#menu {
  position: absolute;
  top: 65px;
  left: 0px;
  width: 400px;
}
#dropDown {
  position: absolute;
  top: 130px;
  left: 0px;
  width: 400px;
  font-size: 12px;
}


#filter1 {
  position: absolute;
  /*top: 200px;*/
  /*left: -20px;*/
  width: 400px;
  font-size: 12px;
}
#filter2 {
  position: absolute;
  top: 70px;
  /*left: -20px;*/
  width: 400px;
  font-size: 12px;
}
#slider {
  position: absolute;
  top: 255px;
  left: 0px;
  width: 400px;
  font-size: 12px;
}
#sli2 {
	position: absolute;
	top:105px;
}
#colorLegend {
  position: absolute;
  top:490px;
  left: 0px;
  width: 400px;
  height: 350px;
  font-size: 10px;
}

#currentDisplay{
    position:absolute;
    top:200px;
    left: 1050px;

}


line {
	stroke: #555;
	stroke-width: 2px;
}

line#bestfit {
	stroke: #ddd;
	stroke-width: 10px;
}

#xAxis path, #yAxis path, #xAxis line, #yAxis line {
	stroke: #ccc;
	fill: none;
	/*shape-rendering: crispEdges;*/
	shape-rendering: auto;
}

text {
	font-size: 12px;
	fill: #888;
}